html, body {
    margin: 0;
    padding: 0;
    front-family: Arial, Tahoma;
    color: #444;
}

.mainmenu {
    list-style: none;
    margin: 0;
    padding: 10px 10px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ui li {
    width: auto;
    display: inline-block;
}


h1 {
    font-size: 20px;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


ul.mainmenu li a:hover {
    color: #FDA83D;
}

div.content {
    margin: 10px;
}

.form-contact label {
    display: inline-block;
    min-width: 80px;
}

.form-contact p {
    margin: 10px 0 10px 0;
}

.form-contact input[type=submit], textarea {
    font-size: 16px;
}

.flash {
    padding: 10px;
}

.flash.success {
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}